{% extends 'base.html.twig' %}

{% block title %} HealthOne - Medicijnen{% endblock %}

{% block body %}

    {{ include('medicijnen/_form.html.twig') }}

{#    <a href="{{ path('medicijnen_index') }}">back to list</a>#}
{% endblock %}
